<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Alevelmod\Learning\Api\Data\PostInterface"
                type="Alevelmod\Learning\Model\Post"/>

    <preference for="Alevelmod\Learning\Api\PostRepositoryInterface"
                type="Alevelmod\Learning\Model\PostRepository"/>

    <preference for="Alevelmod\Learning\Api\Data\PostSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

</config>